/* CSS Document */

body{ padding:0px; margin:auto; text-align:center;  color:#3B3328;}
#box{ width:1586px; margin-left:auto; margin-right:auto; text-align:center;background:#fff;}
.ding{ width:1586px;border:none; text-align:center;}
.dh{ width:1586px; height:30px; background:url(../images/dh.jpg) repeat-x;border:none; text-align:center;}
.dh ul{ width:1100px;border:none; margin-top:auto; height:30px; margin-left:auto; margin-right:auto;}
.dh li{ width:100px; height:25px; text-align:center; padding-top:5px; font-size:14px; color:#fff; float:left; list-style-type:none; font-family:"微软雅黑";}
.dh li a{ color:#fff; text-decoration:none;}
.bn{ width:1440px;border:none; text-align:center;}
.tu{1586px; border:none;}
.foot{ width:1440px; height:200px; padding-bottom:50px; background:#F2DFD9;}


.synr{ width:974px;height:380px;border:none; text-align:center; padding-top:24px; margin-left:auto; margin-right:auto; }

.synr_l{ width:292px; height:354px;border:none; text-align:center;float:left;}

.hczs{ width:300px; height:345px; background:url(../images/hczs.jpg) no-repeat #fff; float:left; margin-left:14px; padding:0px 12px 8px 12px;border:1px solid #747549;}
.hczs_more{ width:300px; height:35px; padding-top:25px; text-align:right; font-size:12px;}
.hczs_more a { text-decoration:none; color:#666;}
.hczs li{ text-decoration:none; height:26px; text-align:left; width:300px; border:none; font-size:12px; color:#474747;list-style-type:none; float:left;}
.hczs li a{ text-decoration:none;color:#474747;}
.cgal{ width:300px; height:345px; background:url(../images/xgty.jpg) no-repeat #fff; float:left; margin-left:14px;padding:0px 12px 8px 12px;border:1px solid #747549; }
.cgal_more{ width:300px; height:35px; padding-top:25px; text-align:right; font-size:12px;}
.cgal_more a { text-decoration:none; color:#666;}
.cgal li{ text-decoration:none; height:26px; text-align:left; width:300px; border:none; font-size:12px; color:#474747; list-style-type:none;float:left;}
.cgal li a{ text-decoration:none;color:#474747;}






/*--案例--*/
.tu10{ width:1440px; height:136px;background:url(../images/10.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu10_l{ width:305px; margin-left:318px; padding-top:58px; font-size:12px; color:#FFF; float:left; line-height:1.9; text-align:left;}
.tu10_r{ width:454px; margin-left:109px; padding-top:58px; font-size:12px; color:#FFF; float:left; line-height:1.9; text-align:left;}
.tu11{ width:634px; height:58px;background:url(../images/11.jpg) no-repeat; padding:30px 582px 0px 224px;;margin-left:auto; margin-right:auto;font-size:12px; color: #333; float:left; line-height:1.9; text-align:left;}
.tu12{ width:634px; height:123px;background:url(../images/12.jpg) no-repeat; padding:25px 582px 0px 224px;;margin-left:auto; margin-right:auto;font-size:12px; color: #333; float:left; line-height:1.9; text-align:left;}
.tu28{ width:1440px; height:156px;background:url(../images/28.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu28_l{ width:210px; margin-left:266px; padding-top:58px; font-size:12px; color: #000; float:left; line-height:1.9; text-align:left;}
.tu28_r{ width:266px; margin-left:475px; padding-top:58px; font-size:12px; color:#000; float:left; line-height:1.9; text-align:left;}

.tu30{ width:1440px; height:156px;background:url(../images/30.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu30_l{ width:197px; margin-left:230px; padding-top:63px; font-size:12px; color: #000; float:left; line-height:1.8; text-align:left;}
.tu30_r{ width:287px; margin-left:510px; padding-top:53px; font-size:12px; color:#000; float:left; line-height:1.8; text-align:left;}

.tu32{ width:1440px; height:142px;background:url(../images/32.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu32_l{ width:197px; margin-left:252px; padding-top:41px; font-size:12px; color: #000; float:left; line-height:1.8; text-align:left;}
.tu32_m{ width:228px; margin-left:120px; padding-top:41px; font-size:12px; color: #000; float:left; line-height:1.8; text-align:left;}
.tu32_r{ width:270px; margin-left:120px; padding-top:41px; font-size:12px; color:#000; float:left; line-height:1.8; text-align:left;}

.tu40{ width:1440px; height:153px;background:url(../images/40.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu40_l{ width:439px; margin-left:241px; padding-top:71px; font-size:12px; color: #333; float:left; line-height:1.8; text-align:left;}
.tu40_r{ width:440px; margin-left:90px; padding-top:71px; font-size:12px; color:#333; float:left; line-height:1.8; text-align:left;}


.tu41{ width:1440px; height:132px;background:url(../images/41.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu41_l{ width:439px; margin-left:241px; padding-top:25px; font-size:12px; color: #333; float:left; line-height:1.8; text-align:left;}
.tu41_r{ width:440px; margin-left:90px; padding-top:25px; font-size:12px; color:#333; float:left; line-height:1.8; text-align:left;}

.tu44{ width:520px; height:73px;background:url(../images/44.jpg) no-repeat; padding:60px 698px 0px 222px;;margin-left:auto; margin-right:auto;font-size:12px; color: #000; float:left; line-height:1.9; text-align:left;}
.tu45{ width:520px; height:99px;background:url(../images/45.jpg) no-repeat; padding:6px 698px 0px 222px;;margin-left:auto; margin-right:auto;font-size:12px; color: #000; float:left; line-height:1.9; text-align:left;}
.tu46{ width:520px; height:76px;background:url(../images/46.jpg) no-repeat; padding:4px 698px 0px 222px;;margin-left:auto; margin-right:auto;font-size:12px; color: #000; float:left; line-height:1.9; text-align:left;}
.tu47{ width:724px; height:84px;background:url(../images/47.jpg) no-repeat; padding:3px 494px 0px 222px;;margin-left:auto; margin-right:auto;font-size:12px; color: #000; float:left; line-height:1.9; text-align:left;}

.tu51{ width:1440px; height:165px;background:url(../images/51.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu51_1{ width:174px; margin-left:246px; padding-top:60px; font-size:12px; color: #000; float:left; line-height:1.8; text-align:left;}
.tu51_2{ width:176px; margin-left:83px; padding-top:60px; font-size:12px; color: #000; float:left; line-height:1.8; text-align:left;}
.tu51_3{ width:180px; margin-left:90px; padding-top:60px; font-size:12px; color:#000; float:left; line-height:1.8; text-align:left;}
.tu51_4{ width:177px; margin-left:101px; padding-top:60px; font-size:12px; color:#000; float:left; line-height:1.8; text-align:left;}


.tu54{ width:1440px; height:68px;background:url(../images/54.jpg) no-repeat; padding-top:34px;;margin-left:auto; margin-right:auto;font-size:12px; color: #333; line-height:1.9; text-align:center;}

.tu79{ width:1440px; height:189px;background:url(../images/79.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu79_l{ width:454px; margin-left:230px; padding-top:19px; font-size:12px; color: #333; float:left; line-height:1.9; text-align:left;}
.tu79_r{ width:454px; margin-left:70px; padding-top:19px; font-size:12px; color:#333; float:left; line-height:1.9; text-align:left;}
.tu82{ width:1440px; height:189px;background:url(../images/82.jpg) no-repeat;margin-left:auto; margin-right:auto;}
.tu82_l{ width:454px; margin-left:230px; padding-top:6px; font-size:12px; color: #333; float:left; line-height:1.9; text-align:left;}
.tu82_r{ width:454px; margin-left:70px; padding-top:6px; font-size:12px; color:#333; float:left; line-height:1.9; text-align:left;}



.lbbj{ width:1440px; background:url(../images/lbbj.jpg) repeat-x top;}


.lbnr_m{ width:984px;  overflow:hidden; margin-left:auto; margin-right:auto;}



.hlcs_l{ width:684px; float:left; margin:auto;border:none; padding:5px;}
.hlcs_l_bt{ width:665px; height:62px; background:url(../images/jkzx.jpg) no-repeat bottom; padding-top:10px; padding-left:5px; text-align:left; font-size:13px; color:#4F4F4F;margin-left:auto;}
.hlcs_l_bt a{ color:#000; text-decoration:none;}
.hlcs_lb{width:666px;height:90px;border-bottom:1px solid #c6c6c6; text-align:left; font-size:12px; line-height:1.9; margin-top:25px;color:#505050; }
.hlcs_lb_bt{ width:666px; text-align:left; height:30px; font-size:16px; font-weight:bold;color:#BC0136; }
.hlcs_lb_bt a{ text-decoration:none; color:#000;}
.page_list{width:666px;height:40px; text-align:center; font-size:12px; line-height:1.7; margin-top:30px;color:#565455; }



.xgty_l_bt{ width:665px; height:62px; background:url(../images/xgty.jpg) no-repeat bottom; padding-top:10px; padding-left:5px; text-align:left; font-size:13px; color:#4F4F4F;margin-left:auto;}
.zsty_l_bt a{ color:#000; text-decoration: none;}

.zsty_l_bt{ width:659px; height:62px; background:url(../images/cgal.jpg) no-repeat bottom; padding-top:10px; padding-left:5px; text-align:left; font-size:13px; color:#4F4F4F;margin-left:auto;}

.zx_l_bt{ width:665px; height:62px; background:url(../images/fxmj.jpg) no-repeat bottom; padding-top:10px; padding-left:5px; text-align:left; font-size:13px; color:#4F4F4F;margin-left:auto;}

.hlcs_r{ width:264px; background:url(../images/zxl.jpg) no-repeat; height:1258px; margin-top:10px; float:right; text-align:center;text-align:right; padding-left:10px;padding-right:6px;}

.xgty_r{ width:264px; background:url(../images/all.jpg) no-repeat; height:1258px; margin-top:10px; float:right; text-align:center;text-align:right; padding-left:10px;padding-right:6px;}



.hlcs_r_zsty{ width:264px; height:17px; background:url(../images/yhty.jpg) no-repeat; padding-top:23px;  font-size:12px; color:#7E7E7E; }
.tfhl_r_zsty{ width:264px; height:17px; background:url(../images/tfhkr.gif) no-repeat bottom;; padding-top:23px;  font-size:12px; color:#3F3F3F; text-align:right;}
.tfhl_r_zsty a{ text-decoration:none; color:#3F3F3F;}


.fx_r_zsty{ width:264px; height:17px; background:url(../images/zsty.gif) no-repeat bottom;; padding-top:23px;  font-size:12px; color:#7E7E7E; text-align:right;}


.yhtp{ text-align:center; margin-top:10px;border:none;}
.zstynr{ width:264px; height:82px; background:url(../images/zstybg.jpg) no-repeat bottom;margin-top:18px; }
.zstynr_bt{ width:264px; text-align:left; height:30px; color:#343434;font-family: "微软雅黑"; font-size:12px; font-weight:bold;}
.zstynr_bt a { text-decoration:none; color:#343434;}
.zsynr_nr{ width:264px; text-align:left; line-height:1.8; color:#7E7E7E; border:none; font-size:12px;}
.zsynr_lb{ width:264px; height:270px; margin-top:16px;border:none;}
.zsynr_lb li{ list-style-type:none; width:264px; height:28px; text-align:left; font-size:12px; color:#474747;}
.zsynr_lb li a{ text-decoration: none; color:#474747; }


.zscs_r_zjjd{ width:264px; height:17px; background:url(../images/zjjdbg.gif) no-repeat  bottom ; padding-top:23px;font-size:12px; color:#3F3F3F; text-align:right;}
.zscs_r_zjjd a{ text-decoration:none;color:#3F3F3F; }
.jdtp{ text-align:center; margin-top:20px;border:none;}
.zjjdnr{ width:264px; height:82px; background:url(../images/zstybg.jpg) no-repeat bottom; margin-top:18px;}
.zjjdnr_bt{ width:264px; text-align:left; height:30px; color:#343434;font-family: "微软雅黑"; font-size:12px; font-weight:bold;}
.zjjdnr_bt a{ text-decoration:none;color:#343434;}
.zjjdnr_nr{ width:264px; text-align:left; line-height:1.8; color:#7E7E7E; border:none; font-size:12px;}
.zjjdnr_lb{ width:264px; height:230px; margin-top:30px;border:none;}
.zjjdnr_lb li{ list-style-type:none; width:264px; height:28px; text-align:left; font-size:12px; color:#474747;}
.zjjdnr_lb li a{ text-decoration: none; color:#474747; }
.hlcs_xxbt{width:666px; height:40px; margin-top:10px; text-align:center; line-height:2.1; font-size:16px; font-weight:bold;}
.hlcs_xxly{ width:666px;height:20px; font-size:12px; color:#999; text-align:center; line-height:1.7;}
.hlcs_xxnr{ width:666px; text-align:left; line-height:1.7; font-size:12px; color:#333; margin-top:10px;}



/*--专家解答--*/
.zjjd{ width:982px; margin-top:5px; clear:both; text-align:left; height:auto;overflow:hidden; margin-left:auto; margin-right:auto;}
.zjjd_head{ width:967px; height:78px; background:url(../images/zjjd.gif) no-repeat bottom; padding-top:14px; text-align:left; font-size:13px; text-align:left; color:#505050; padding-left:15px; margin-top:15px;}
.zjjd_head a{ text-decoration:none; color:#000;}
.zjjd_lb{ width:940px;  margin-top:10px; margin-bottom:10px;}
.zjjd_lb_bt{ width:885px; height:42px; background:url(../images/bookbt.jpg) no-repeat; padding-top:10px; padding-left:45px; font-size:16px; font-family:"微软雅黑"; font-weight:bold; text-align:left; color:#510000; padding-right:10px;}
.zjjd_lb_nr{ width:900px; text-align:left;   padding:0px 10px 10px 30px; }
.zjjd_lb_nr_w{ width:940px; text-align:left;  line-height:1.7; font-size:14px; color:#494544; font-weight:bold;font-family:"微软雅黑"; }
.zjjd_lb_nr_d{ width:940px; text-align:left;  line-height:1.7; font-size:12px; color:#181619;  margin-top:5px;}
.zjjd_page{ width:940px; height:20px; text-align:center; line-height:1.7; font-size:12px; margin-top:15px;}
.zjjd_wd{ width:930px; border: none; background:url(../images/wdbt.jpg) no-repeat top #fff; padding-top:40px; margin-top:20px; padding-bottom:15px; margin-left:auto; margin-right:auto;}
.wdtj{ width:930px; text-align:center; border:none; background:#FFF;margin-left:auto; margin-right:auto;}
.cpjx{ width:1440px; height:845px; background:url(../images/bx.jpg) no-repeat bottom; padding-top:30px;}
.cpt{ width:1000px; border:none; text-align:center;}


.zjjd_page{ width:910px; height:20px; text-align:center; line-height:1.7; font-size:12px; margin-top:15px;}
.zjjd_wd{ width:910px; border: none; background:url(../images/wdbt.jpg) no-repeat top #fff; padding-top:40px; margin-top:20px; padding-bottom:15px; margin-left:auto; margin-right:auto;}
.wdtj{ width:910px; text-align:center; border:none; background:#fff;margin-left:auto; margin-right:auto; margin-bottom:20px; margin-top: auto;}

.m10{border:none;}


.plug_book_add{ }
.plug_book_add dt{border:none;}
.plug_book_add dt .input{border:1px solid #ccc;color:#666; text-align:left; font-size:12px;}
.plug_book_add dt .inputs{width:870px;height:120px;border:1px solid #ccc;overflow:hidden;background:url(../Images/tishi.gif) no-repeat right bottom; margin-top:auto; }

.page{text-align:center;margin-bottom:10px;}
.page a{background:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #AECD9E;color:#A0A0A0;}
.page span{background:#3D9403;color:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #3D9403;}

.page_list{text-align:center;margin-bottom:10px;padding:5px;}
.page_list a{background:#fff;margin:0px 1px;padding:4px 6px;border:1px solid  #ccc;color:#A0A0A0;}
.page_list span{background: #F93;color:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #CCC;}

.zjjd_page{text-align:center;margin-bottom:10px; padding:5px;}
.zjjd_page a{background:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #ccc;color:#A0A0A0;}
.zjjd_page span{background:#F93;color:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #ccc;}

.cptz{ width:1440px; height:840px; background:url(../images/bx.jpg) no-repeat bottom; }
.cpt{ width:990px; border:none; text-align:center;}
.dtys{ width:1440px; border:none; height:690px;background:url(../images/bx.jpg) no-repeat bottom;}
.dtyst{ width:990px;border:none; text-align:center;}
.syrq{ width:1440px; height:890px; background:url(../images/bx.jpg) no-repeat bottom; }
.rqt{ width:990px; border:none; text-align:center;}
.rqad{ width:1440px; height:104px; text-align: center;border:none; margin-top:15px;}
.kddj{ width:1440px; height:765px; background:url(../images/bx.jpg) no-repeat bottom;}
.djt{ width:990px; border:none; text-align:center;}
.jcsy{ width:1440px; border:none; height:690px;background:url(../images/bx.jpg) no-repeat bottom;}
.syt{ width:990px; border:none; text-align:center;}

