body{
	 -webkit-overflow-scrolling: auto | unset
}
.main{
/*margin-bottom: 52px;*/	
/*padding-top: 40px;*/
/*padding-bottom: 52px;
box-sizing:border-box;/**/
webkit-overflow-scrolling: touch
}
#box {
	width: 100%;
}
.left_menu{
	position: fixed;
	width: 100px;
	/*height:300px;*/
	top: 15%;
	text-align: center;
	font-size: 12px;
	color: #FAE5B6;
	background-color: #000000;
	/*background: url(/static/mobile/img/qaq1_08.jpg) 100% 100% no-repeat;*/
	background-size:cover;
	opacity: 0.7;
	-webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.8s;
    z-index: 1001;
}
.left_img{
 width: 100%;
 text-align: right;
 height: 23px;
}
.left_img img{
	width: 25px;
	float: right;
}
.left_menu1{
	-webkit-transform: translateX(0);
    transform: translateX(0);
}
.left_menu>ul>li{
	padding: 8px 0;
}
.left_menu>ul>li>a{
	border-bottom: 1px solid #919191;
	color: #FAE5B6;
}
.menu{
	width: 40px;
	height: 25px;
	position: fixed;
	/*top: 8%;*/
	left: 20px;
}
.menu>a{
	color: #ffffff;
}
.menu>a:hover{
	color: #ffffff;
}
.left_img>a{
	color: #ffffff;
}
.left_img>a:hover{
	color: #ffffff;
}
.menu img{
	width: 100%;
	height: 100%;
}
.head{
	width: 100%;
	height: 40px;
	background: url(/static/mobile/img/1_03.jpg) 100% 100% no-repeat;
	background-size:cover;
}
.ding {
	width: 100%;
	border: none;
}

.ding img {
	width: 100%;
	height: auto;
	display: block;
}

#order {
	width: 100%;
	background: #FFFFFF;
	height: 600px;
}

.ad_form {
	border: 5px solid #ff3366;
	width: 92%;
	margin: 0 auto;
	height: 100%;
}

.left {
	width: 100%;
	border: 1px solid #FF3366;
}

.form_head {
	border-bottom: 1px solid #FF3366;
	height: 60px;
	width: 100%;
	margin-bottom: 8px;
	background: url(img/buy.jpg);
}

.mui-input-group .mui-input-row:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 0px !important;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.order_box {
	width: 100%;
	margin-bottom: 8px;
	font-size: 12px;
	height: 26px;
}

.order_box_left {
	float: left;
	display: inline;
	overflow: hidden;
	width: 24%;
	max-width: 150px;
	text-align: right;
	padding-top: 3px;
	padding-right: 3%;
}

.order_box_right {
	float: left;
	display: inline;
	overflow: hidden;
	width: 73%;
	color: red;
}

.order_box>.order_box_right input {
	width: 92%;
	font-size: 12px;
	color: #666;
	padding: 3px 5px;
	border: 1px solid #E0E0E0;
	background: #FCFCFC;
	height: 26px;
}


/*-----订单-------*/

#order {
	width: 100%;
	height: 870px;
	font-size: 14px;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    line-height: 21px;
    width: 100%;
    height: 30px !important;
    margin-bottom: 0px !important;
    padding: 10px 15px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}
@charset "utf-8";
@media(max-width:750px) {
	.clrxian {
		border: none;
	}
	.clorderr {
		height: 235px;
		overflow: hidden;
		margin-top: 10px;
	}
	.clfahuo {
		padding-bottom: 20px;
	}
}

@media(max-width:320px) {
	.clwarp {
		border: 0;
	}
	.clsubbox input {
		width: 96%;
	}
}

@charset "utf-8";
#clorder {
	width: 100%;
	max-width: 960px;
	background: #FFF;
}

.clwarp {
	border: 5px solid #FF3366;
}

.cltitlea,
.cltitleb {
	border-bottom: 1px solid #FF3366;
}

.clrxian {
	/*border-right: 1px solid #FF3366;*/
}

.clsubbox input {
	background: #FF3366;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font: 14px Microsoft YaHei, \5FAE\8F6F\96C5\9ED1, SimSun, \5B8B\4F53, Arial, Verdana;
	color: #000;
	text-align: left;
}

a:link,
a:visited {
	color: #66C2FF;
	text-decoration: none;
}

a:hover {
	color: #F00;
	text-decoration: underline;
}

input,
select,
textarea {
	font: 100% Microsoft YaHei, \5FAE\8F6F\96C5\9ED1, SimSun, \5B8B\4F53, Arial, Verdana;
}

em {
	font-style: normal;
	color: #F00;
	margin-right: 5px;
}

img {
	border: 0 none;
	vertical-align: middle;
}

.red {
	color: #F00;
}

.blue {
	color: #09F;
}

.green {
	color: #090;
}

.pt {
	padding-top: 3px;
}

#clorder {
	margin: 0 auto;
}

.clwarp {
	width: auto;
	height: 100%;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

@media(min-width:750px) {
	.clorderl {
		float: left;
		display: inline;
		overflow: hidden;
		width: 65%;
		height: 100%;
	}
	.clorderr {
		float: left;
		display: inline;
		overflow: hidden;
		width: 35%;
		height: 100%;
	}
}

.clforml,
.clformr {
	width: 100%;
}

.clrxian {
	width: auto;
	height: auto;
	overflow: hidden;
	_height: 100%;
}

.cltitlea{
	height: 60px;
	margin-bottom: 15px;
	background: url(img/buy.jpg) no-repeat;
}
.cltitleb {
	height: 60px;
	margin-bottom: 15px;
	background: url(img/logistics.jpg) no-repeat;
}



.clwarp label.clbdxx {
	float: left;
	display: inline;
	overflow: hidden;
	width: 24%;
	max-width: 150px;
	text-align: right;
	padding-top: 3px;
	padding-right: 3%;
}

.cldxbox,
.clxlbox,
.cltextbox,
.cltext2box,
.cltext3box,
.clpayps {
	float: left;
	display: inline;
	overflow: hidden;
	width: 73%;
	_width: 72%;
}

.cldxbox,
.cltext2box,
.cltext3box {
	line-height: 1.5em;
}

.cltextbox input,
.clxlbox select.clxl,
.clxlbox select.clcpxl,
.clxlbox select.cldqxl,
.cltext2box textarea,
.cltext3box input {
	border: 1px solid #E0E0E0 !important;
	background: #FCFCFC;
}

.cldxbox p {
	width: 92%;
	line-height: 1.6em;
	margin-bottom: 3px;
}

.cldxbox p img {
	margin-left: 6px;
	margin-top: -5px;
}

.cldxbox span.paybr {
	display: inline-block;
}

.clbdbox {
	float: left;
	width: 100%;
	margin-bottom: 8px;
	*margin-bottom: 7px;
}

.cldxbox label {
	margin-left: 6px;
	cursor: pointer;
}

.cldxbox input {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-top: -2px;
	margin-bottom: 1px;
	margin-left: 1px;
}

.cltextbox input,
.cltext3box input {
	width: 92%;
	font-size: 14px;
	color: #666;
	padding: 3px 5px !important;
	_padding: 2px 5px;
}

.cltext3box #showmun,
.cltext3box #showprice {
	clear: both;
	display: inline;
	font-family: Arial, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #F60;
	margin: 0 5px;
}

.clxlbox select.clxl {
	padding: 1px;
}

.clxlbox select.clcpxl {
	padding: 3px;
}

.clxlbox select.cldqxl {
	width: 30.70%;
	padding: 2px;
	/*margin-right: 6px;*/
}

.clpayps {
	font-size: 12px;
	color: #666;
	margin-left: 24%;
	line-height: 1.6em;
}

.clpayps p {
	display: block;
	float: left;
	width: 92%;
	padding: 2px 5px;
	_margin-left: -3px;
	text-align: center;
	border: 1px dotted #E0E0E0;
	background: #FFFFE6;
}

.cltext2box textarea {
	width: 92%;
	height: 50px !important;
	color: #666;
	padding: 5px;
	font-size: 14px;
}

.cltext3box input {
	width: 50px !important;
	text-align: center;
	margin-right: 8px;
}

.cltext3box img#clcode {
	margin-top: -3px;
	cursor: pointer;
}

.cltext3box a {
	font-size: 12px;
	margin-left: 6px;
}

.clsubbox {
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 10px;
}

.clsubbox input {
	width: 50%;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	font-size: 15px;
	cursor: pointer;
	border: 0;
	-webkit-appearance: none;
}

#clfahuo {
	width: 90%;
	font-size: 12px;
	line-height: 1.8em;
	color: #666;
	padding: 0 5%;
}

#clfahuo p {
	padding-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

.cltext4box {
	float: left;
	display: inline;
	overflow: hidden;
	width: 95%;
	_width: 92%;
}

.cltext4box #showmun,
.cltext4box #showprice {
	clear: both;
	display: inline;
	font-family: Arial, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #F60;
	margin: 0 5px;
}


.menu {
    display: block!important;
    position: fixed;
    z-index: 100000;
    bottom: 72px !important;
    left: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    color: #fff;
}
.user{
	width: 100%;
	
	background: #ffffff;
}
.user_item{
	width: 100%;
	height: 160px;
	padding: 6px 0;
	background: #ffffff;
}
.user_item_left{
	width: 40%;
	display: inline-block;
float: left;
	margin: 0 6px 0 8px;
	height: 100%;
	box-sizing: border-box;
}
.user_item_left img{
	width: 100%;
	height: 100%;
}
.user_item_right img{
	width: 100%;
	height: 100%;
}
.user_item_right{
	width: 55%;
	display: inline-block;
	height: 100%;
	background: #FCE6B4 ;
	padding: 6px;
}
.user_item_right p{
	font-size: 12px;
	color: #333333;
	background: #FCE6B4;
	box-sizing: border-box;
	line-height: 20px;
}
.articl_detail{
	margin: 0 8px;
}
.mui-content1{
	  width:100%;
    
    /*position:absolute;*/
    padding-top:0px;/*top值为header的高*/
    padding-bottom:52px;/*bottom值为footer的高*/
    box-sizing:border-box;/*这里改变盒子模型为怪异盒模型，这样padding值不会增加main的高度*/
    /*overflow-y:scroll;*/
   
}
.left_ul{
	margin-bottom: 0;
}
.qrcode_box{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 9999999;
}
.qrcode_fa{
	background: #ffffff;
	width: 200px;
	height: 200px;
	margin: 60% auto;
	
}
.qrcode_fa img{
	width: 100%;
	height: 100%;
}
.about_us{
	width: 100%;
    /* margin-left: 4%; */
    background: #ffffff;
    padding: 10px 4%;
    color: #333333;
}
.about_us1{
	width: 100%;
    /* margin-left: 4%; */
    background: #ffffff;
    padding: 6px 10px;
    text-indent: 2em;
    border: 1px solid rgb(251,230,180);
}
.title{
	display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.thisshop{
	width: 100%;
	background: #ffffff;
}
.thisshop img{
	display: inline-block;
	width: 45%;
	float: left;
	margin-left: 10px;
}
.thisshop_content{
	display: inline-block;
	text-indent:2rem;
	width: 54%;
	margin-left: -20px;
	font-size: 12px;
	line-height: 20px;
}
.mui-content{
	background: #ffffff;
}
@media only screen and (min-width: 325px) and (max-width: 365px) {
	.user_item {
    width: 100%;
    height: 160px ;
    padding: 6px 0;
    background: #ffffff;
}
.user_item_left img {
    width: 100%;
    height: 100%;
   
}
.des2{
	height: 180px;
}
}
@media only screen and (min-width: 100px) and (max-width: 325px) {
	.user_item {
    width: 100%;
    height: 160px ;
    padding: 6px 0;
    background: #ffffff;
}
.user_item_left img {
    width: 100%;
    height: 100%;
   
}
.des2{
	height: 200px;
}
}
.des3{
	min-height: 170px;
}
