{include file="common/head"/}

<div class="mui-content" style="background: #ffffff;">
	<div class="articl_detail">
		其次，无人货架对供应链基础设施也提出了极高的要求。首先，同时在几十个城市搞定符合零售食品仓储条件的仓库，是一件极难的事；其次，无人货架的仓内操作和传统电商以及B2B都有很大不同，即使用钱买到了仓储，仓内运营团队的缺失和经验不足，也将导致大量问题；此外，补货配送的不利是无人货架公司的一大致命死穴：随着铺点的加速，每日多达几百单的补货量，用专人派送补货不现实，只能借助第三方，而第三方人员的素质和管理则成为最伤脑筋的难题。尽管货架公司有各种要求，但由于没有任何闭环管理，再多的要求也形同虚设，由补货人员造成的补货不及时和盗损，都无法追责
	</div>
	<div id="order">
				<iframe src="{:url('mobile/index/creatOrder')}" width="100%" height="860" align="middle" scrolling="no"></iframe>
				
	</div>
</div>
{include file="common/foot"/}